In [52]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:20,.2f}'.format

In [53]:
my_array = np.array([0,1,2,3,4])
my_array

array([0, 1, 2, 3, 4])

In [54]:
empty_array = np.empty((3,4), dtype=int) # Boş array oluşturma
empty_array

array([[140588745933616, 140588745933680, 140588745933744,
        140588745933808],
       [140588745933872, 140588745933936, 140588745934000,
        140588745934064],
       [140588745934128, 140588745934192, 140588745934256,
        140588745934320]])

In [55]:
np.full([3,3],99.99, dtype=float) # 99.99'lardan oluşan 3x3 matrisli array oluşturma

array([[99.99, 99.99, 99.99],
       [99.99, 99.99, 99.99],
       [99.99, 99.99, 99.99]])

In [56]:
my_series = pd.Series(['a', 'b', 'c', 'd', 'e'], name= "matthew") # Pandas Series Oluşturma ismi ile birlikte
my_series

0    a
1    b
2    c
3    d
4    e
Name: matthew, dtype: object

In [57]:
my_series * 10 # Ps(Pandas Series) ile matematiksel işlemler yapılabilir. Pythonda olduğu gibi bazı işlemler string veri tipinde bile çalışır. Burada string değerler 10 kere yazıldı

0    aaaaaaaaaa
1    bbbbbbbbbb
2    cccccccccc
3    dddddddddd
4    eeeeeeeeee
Name: matthew, dtype: object

In [58]:
daily_returns = pd.Series(np.random.randn(4), name="daily_returns") # random değerler (randn = normal dağılıma sahip random değerler üretir) ile Ps oluşturma
daily_returns

0                   2.20
1                  -0.21
2                   0.97
3                  -1.98
Name: daily_returns, dtype: float64

In [59]:
dd = pd.Series((np.random.randn(4)), name= "aa")
dd

0                  -0.88
1                   1.48
2                  -0.29
3                  -0.97
Name: aa, dtype: float64

In [60]:
daily_returns * 100 # tüm değerlere çarpma işlemini uyguladı. diğer işlemler içinde aynı

0                 219.89
1                 -21.19
2                  97.33
3                -197.61
Name: daily_returns, dtype: float64

In [61]:
#@title 
games = pd.read_csv("vgsalesGlobale.csv")
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,"2,006.00",Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,"1,985.00",Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,"2,008.00",Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,"2,009.00",Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,"1,996.00",Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,"2,002.00",Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,"2,003.00",Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,"2,008.00",Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,"2,010.00",Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,"2,003.00",Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [62]:
games.head() #verinin ilk 5 değerini görüntüleme. head() içine girilen değer kadar ilk değerleri görüntüler

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,"2,006.00",Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,"1,985.00",Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,"2,008.00",Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,"2,009.00",Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,"1,996.00",Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [63]:
games.tail(4) #verinin son 5 değerini görüntüleme. htail() içine girilen değer kadar son değerleri görüntüler

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16594,16597,Men in Black II: Alien Escape,GC,"2,003.00",Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,"2,008.00",Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,"2,010.00",Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,"2,003.00",Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [64]:
games.dtypes  # her sütunun veri yapısını gösterir.

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [65]:
games["Genre"].value_counts() # Özellikle kategorik verilerde her bir sütun içinde değerlerin kaç adet olduğunu gösterir.

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [66]:
games["Genre"].value_counts(normalize = True) # normalize işlemi value'ları 0 - 1 arasında olacak şekilde yeniden değer atar

Action                         0.20
Sports                         0.14
Misc                           0.10
Role-Playing                   0.09
Shooter                        0.08
Adventure                      0.08
Racing                         0.08
Platform                       0.05
Simulation                     0.05
Fighting                       0.05
Strategy                       0.04
Puzzle                         0.04
Name: Genre, dtype: float64

In [67]:
games["Genre"].value_counts(normalize = True)* 100 # count edilen değerlerin tüm veri içinde % kaç olduğunu gösterir

Action                        19.98
Sports                        14.13
Misc                          10.48
Role-Playing                   8.96
Shooter                        7.89
Adventure                      7.75
Racing                         7.53
Platform                       5.34
Simulation                     5.22
Fighting                       5.11
Strategy                       4.10
Puzzle                         3.51
Name: Genre, dtype: float64

In [68]:
games.EU_Sales.value_counts(bins=4) # bins parametresi count edilen değerleri (4) parçaya böler.

(-0.030000000000000002, 7.255]    16586
(7.255, 14.51]                       11
(21.765, 29.02]                       1
(14.51, 21.765]                       0
Name: EU_Sales, dtype: int64

In [69]:
games.Genre.unique() # (Genre) sütunlardaki değerleri count ederek tekrarlanan değerleri tek bir değer olarak gösterir

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [70]:
games.Genre.nunique() # unique değerlerin sayısını gösterir

12

In [71]:
games.Genre.shape

(16598,)

In [72]:
games.Genre.size

16598

In [80]:
df = pd.read_csv('test_lab.csv')
df

,country,country isocode,year,POP,XRAT,tcgdp,cc,cg
0,Argentina,ARG,2000,"37,335.65",1.00,"295,072.22",75.72,5.58
1,Australia,AUS,2000,"19,053.19",1.72,"541,804.65",67.76,6.72
2,India,IND,2000,"1,006,300.30",44.94,"1,728,144.37",64.58,14.07
3,Israel,ISR,2000,"6,114.57",4.08,"129,253.89",64.44,10.27
4,Malawi,MWI,2000,"11,801.50",59.54,"5,026.22",74.71,11.66
5,South Africa,ZAF,2000,"45,064.10",6.94,"227,242.37",72.72,5.73
6,United States,USA,2000,"282,171.96",1.00,"9,898,700.00",72.35,6.03
7,Uruguay,URY,2000,"3,219.79",12.10,"25,255.96",78.98,5.11

In [81]:
df.info() # veri hakkında ön bilgi verir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          8 non-null      object
 1   country isocode  8 non-null      object
 2   year             8 non-null      int64
 3   POP              8 non-null      float64
 4   XRAT             8 non-null      float64
 5   tcgdp            8 non-null      float64
 6   cc               8 non-null      float64
 7   cg               8 non-null      float64
dtypes: float64(5), int64(1), object(2)
memory usage: 640.0+ bytes

In [82]:
df.shape # veririnin shape'ini gösterir. sonuç (row, colums)

(8, 8)

In [83]:
df.size # veririn size'ını gösterir. sonuç = row x column (8x8)

64

In [84]:
df.ndim # boyut sayını verir 2D

2

In [86]:
df.columns # sütunların isimlerini verir

Index(['country', 'country isocode', 'year', 'POP', 'XRAT', 'tcgdp', 'cc',
       'cg'],
      dtype='object')

**selecting**

In [87]:
df["country"] # country sütununun içindeki değerleri gösterir

0        Argentina
1        Australia
2            India
3           Israel
4           Malawi
5     South Africa
6    United States
7          Uruguay
Name: country, dtype: object

In [88]:
df[["country", "POP"]] # birden fazla sütun çağıracaksak [] içinde DataFrame görünümü

         country                  POP
0      Argentina            37,335.65
1      Australia            19,053.19
2          India         1,006,300.30
3         Israel             6,114.57
4         Malawi            11,801.50
5   South Africa            45,064.10
6  United States           282,171.96
7        Uruguay             3,219.79

In [89]:
df[["country", "POP"]][2:4] #seçilen sütunlarda 2.index ile 4. indeks arasındaki değerleri getirir
# df[2:4][["country", "POP"]] diğer kullanım şekli aynı sonucu verir

  country                  POP
2   India         1,006,300.30
3  Israel             6,114.57

In [91]:
df[2:4][["country", "POP"]]

  country                  POP
2   India         1,006,300.30
3  Israel             6,114.57

In [90]:
df[:] # tüm değerleri getirir

,country,country isocode,year,POP,XRAT,tcgdp,cc,cg
0,Argentina,ARG,2000,"37,335.65",1.00,"295,072.22",75.72,5.58
1,Australia,AUS,2000,"19,053.19",1.72,"541,804.65",67.76,6.72
2,India,IND,2000,"1,006,300.30",44.94,"1,728,144.37",64.58,14.07
3,Israel,ISR,2000,"6,114.57",4.08,"129,253.89",64.44,10.27
4,Malawi,MWI,2000,"11,801.50",59.54,"5,026.22",74.71,11.66
5,South Africa,ZAF,2000,"45,064.10",6.94,"227,242.37",72.72,5.73
6,United States,USA,2000,"282,171.96",1.00,"9,898,700.00",72.35,6.03
7,Uruguay,URY,2000,"3,219.79",12.10,"25,255.96",78.98,5.11